In [15]:
# Basic Import
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotnine
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from catboost import CatBoostRegressor
# from xgboost import XGBRegressor # it needs 64 bit python (install and add python to PATH)
import warnings

In [16]:
# importing the data
df = pd.read_csv('data/stud.csv')

In [18]:
# Preparing X and Y
x=df.drop(columns=['math_score'], axis=1)
y=df.filter(["math_score"])

In [20]:
# Create Column Transformer with 3 types of transformer
num_features = x.select_dtypes(exclude="object").columns
cat_features = x.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [21]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()
preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ('StandardScaler',numeric_transformer, num_features)
    ]
)

In [22]:
x = preprocessor.fit_transform(x)

In [25]:
# separate dataset into train and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)
x_train.shape, x_test.shape

((800, 19), (200, 19))

In [53]:
y_test

     math_score
521          91
737          53
740          80
660          74
411          84
..          ...
408          52
332          62
208          74
613          65
78           61

[200 rows x 1 columns]

In [26]:
# Create an Evaluate Function to give all metrics after model Training
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [31]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}

model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train, y_train)
    # make predictions
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    # Evaluate Train and Test dataset
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)
    
    # printing the name of the model
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print("Model Performance on Trining set")
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))
    
    print("______________________________________")
    
    print("Model Performance on Test set")
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print("="*35)
    print('\n')

Linear Regression
Model Performance on Trining set
- Root Mean Squared Error: 5.3244
- Mean Absolute Error: 4.2671
- R2 Score: 0.8743
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 5.3960
- Mean Absolute Error: 4.2158
- R2 Score: 0.8803
===================================


Lasso
Model Performance on Trining set
- Root Mean Squared Error: 6.5938
- Mean Absolute Error: 5.2063
- R2 Score: 0.8071
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 6.5197
- Mean Absolute Error: 5.1579
- R2 Score: 0.8253
===================================


Ridge
Model Performance on Trining set
- Root Mean Squared Error: 5.3233
- Mean Absolute Error: 4.2650
- R2 Score: 0.8743
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 5.3904
- Mean Absolute Error: 4.2111
- R2 Score: 0.8806
===================================


K-Neighbors Regressor
Model Performance on Trining set
- Root Mean Squared Error: 5.7077
- Mean Absolute Error: 4.5167
- R2 Score: 0.8555
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 7.2530
- Mean Absolute Error: 5.6210
- R2 Score: 0.7838
===================================


Decision Tree
Model Performance on Trining set
- Root Mean Squared Error: 0.2795
- Mean Absolute Error: 0.0187
- R2 Score: 0.9997
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 7.7447
- Mean Absolute Error: 6.0500
- R2 Score: 0.7535
===================================

d:\END_TO_END_PYTHON_PROJECT_YOUTUBE_SUPER_IMPORTANT\Python_End_To_End_Projects\Krish Naik YouTube\mlproject\venv\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

Random Forest Regressor
Model Performance on Trining set
- Root Mean Squared Error: 2.2951
- Mean Absolute Error: 1.8149
- R2 Score: 0.9766
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 5.9323
- Mean Absolute Error: 4.5674
- R2 Score: 0.8554
===================================


CatBoosting Regressor
Model Performance on Trining set
- Root Mean Squared Error: 3.0427
- Mean Absolute Error: 2.4054
- R2 Score: 0.9589
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 6.0086
- Mean Absolute Error: 4.6125
- R2 Score: 0.8516
===================================


AdaBoost Regressor
Model Performance on Trining set
- Root Mean Squared Error: 5.8324
- Mean Absolute Error: 4.7556
- R2 Score: 0.8491
______________________________________
Model Performance on Test set
- Root Mean Squared Error: 6.1195
- Mean Absolute Error: 4.7863
- R2 Score: 0.8461
===================================

d:\END_TO_END_PYTHON_PROJECT_YOUTUBE_SUPER_IMPORTANT\Python_End_To_End_Projects\Krish Naik YouTube\mlproject\venv\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

In [32]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=["Model_Name", "R2_Score"]).sort_values(by=["R2_Score"],ascending=False)

                Model_Name  R2_Score
2                    Ridge  0.880593
0        Linear Regression  0.880345
5  Random Forest Regressor  0.855380
6    CatBoosting Regressor  0.851632
7       AdaBoost Regressor  0.846107
1                    Lasso  0.825320
3    K-Neighbors Regressor  0.783813
4            Decision Tree  0.753512

In [75]:
# Considering the Linear Regression as the selected model
lin_model = LinearRegression(fit_intercept=True)
lin_model = lin_model.fit(x_train,y_train)
y_pred = lin_model.predict(x_test)
y_pred = pd.DataFrame(y_pred,columns=["Y_pred"],index=y_test.index)

In [76]:
y_pred

        Y_pred
521  76.507812
737  58.953125
740  76.960938
660  76.757812
411  87.539062
..         ...
408  43.546875
332  62.031250
208  67.976562
613  67.132812
78   62.492188

[200 rows x 1 columns]

In [77]:
y_test

     math_score
521          91
737          53
740          80
660          74
411          84
..          ...
408          52
332          62
208          74
613          65
78           61

[200 rows x 1 columns]

In [78]:
pred_df=pd.concat([y_pred,y_test], axis=1)

In [83]:
pred_df = pred_df.assign(test_pred_diff = pred_df["math_score"]-pred_df["Y_pred"])

In [84]:
pred_df

        Y_pred  math_score  test_pred_diff
521  76.507812          91       14.492188
737  58.953125          53       -5.953125
740  76.960938          80        3.039062
660  76.757812          74       -2.757812
411  87.539062          84       -3.539062
..         ...         ...             ...
408  43.546875          52        8.453125
332  62.031250          62       -0.031250
208  67.976562          74        6.023438
613  67.132812          65       -2.132812
78   62.492188          61       -1.492188

[200 rows x 3 columns]